.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: Avenir-Heavy, sans-serif;
  color: #0f59a4;
}

.dropdown .dropdown-button {
  background-color: white;
  color: #0f59a4;
  padding: .7vh 1.5vw;
  width: 100%;
  font-size: 1.6vh;
  border: none;
  text-align: left;
  border-radius: .5vh;
  cursor: default;
}

.dropdown .dropdown-button.disabled {
  color: rgba(0,0,0,.3);
}

.dropdown .dropdown-button .arrow{
  position: absolute;
  right: 3vw;
}

.dropdown .dropdown-content {
  display: none;
  font-size: 1.7vh;
  position: absolute;
  top: 3.5vh;
  bottom: inherit;
  max-height: 20vh;
  width: 100%;
  border: 1px solid white;
  background-color: #f9f9f9;
  overflow: auto;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown .dropdown-content div {
  padding: .7vh 1vw .7vh 2.5vw;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown .dropdown-content div:hover {
  background-color: #0f59a4;
  color: #f9f9f9;
}

.dropdown .dropdown-content.dropUp {
  bottom: 3.5vh;
  top: inherit;
  box-shadow: -8px -8px 16px 0 rgba(0,0,0,0.2);
}

.dropdown .dropdown-content.show {
  display:block;
}
