.search-results {
  display: flex;
  justify-content: space-around;

  height: 100%;

  padding: 0 10% 0 5%;
}

.search-results .search-results-list {
  overflow-y: scroll;
  flex-basis: 50%;
  -ms-overflow-style: none;
  padding-top: 1.5vh; /* var X */
}

.search-results .search-results-list::-webkit-scrollbar {
  display: none;
}

.search-results .search-results-list li {
  display: flex;
}
.search-results .search-results-list :not(.new-letter) li {
  margin-top: 1.5vh;
}
.search-results .search-results-list .link {
  cursor: pointer;
  font-size: 1.5vh;
  flex-basis: 80%;
}
.search-results .search-results-list .header {
  flex-basis: 20%;
  font-family: Avenir-Heavy, sans-serif;
  padding-right: 3vh;
  text-align: center;
  font-size: 2vh;
}

.search-results .search-results-list .room {
  font-family: Avenir-Heavy, sans-serif;
}

.search-results .search-results-list .room-number {
  font-size: 1vh;
  margin-top: 0.4vh;
}

.search-results .search-filters {
  display: flex;
  justify-content:center;
  /*align-items: center;*/
  flex-direction: column;
  margin-left: 15vw;
}

.search-results .last-item {
  margin-bottom: 4vh;
}

.search-results .divider-wrapper {
  display: none;
}

.search-results .new-letter .divider-wrapper {
  display: flex;
}

.search-results .divider {
  flex-basis: 80%;
  height: 1px;
  background: rgba(246, 247, 249, 0.7);;
  margin: 1.5vh 0;
}

/*.hide-scrollbar {*/
  /*position: absolute;*/
  /*width: 2vh;*/
  /*height: 100%;*/
  /*left: 60%;*/
  /*top: 0;*/
  /*background: black;*/
/*}*/

.search-results .no-matches-found {
  text-align: center;
  position: relative;
  top: calc(50% - 1.5vh); /* var X */
  font-size: 2vh;
}
