.floor-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  height: 5.0vh;
  z-index: 100; /* Ensure it's above everything on the map */
}
.floor-selector a {
  height: 100%;
  padding: 0 1.5vh;
  border-right: 1px solid rgba(246, 247, 249, 0.7);
  border-top: 1px solid rgba(246, 247, 249, 0.7);
  border-bottom: 1px solid rgba(246, 247, 249, 0.7);

  font-size: 1.2vh;

  background: #0f59a4;
  color: white;
  line-height: 5vh;
}

.floor-selector a.selected {
  background: #119DA4;
}

