.starting-point-selector .links {
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

.starting-point-selector .links .link-button {
  display: inline-block;
  padding: 3vh 2.2vw;
  text-align: center;
  font-size: 1.8vh;
  font-family: Avenir-Heavy, sans-serif;
}

.starting-point-selector .links .link-button img {
  height: 4vh;
  margin-bottom: 1vh;
}
