.starting-point-room-search {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  height: 100%;
}

.starting-point-room-search .starting-point-room-search-info {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 10vh;
  overflow: hidden;
  height: 100%;
  font-family: Avenir, sans-serif;
}

.starting-point-room-search .starting-point-room-search-info .room-image {
  text-align: center;
}

.starting-point-room-search .starting-point-room-search-info .room-image img{
  height: 11vh;
  text-align: center;
}
