#quick-links {
  height: 100%;
  overflow-y: hidden;
  -ms-overflow-style: none;
}

#quick-links::-webkit-scrollbar {
  display: none;
}

#quick-links .amenity-buttons {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}

#quick-links .amenity-button {
  display: inline-block;
  padding: 0 2.2vh;
  text-align: center;
  font-size: 1.8vh;
  font-weight: 700;
  padding-bottom: 1vh;
}

#quick-links .amenity-button img {
  height: 3vh;
  margin-bottom: 1vh;
}

#quick-links.fade-right:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 8.5vw;
  height: 100%;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #0f59a4 50%, #0f59a4 100%);
  pointer-events: none;
}
#quick-links.fade-left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8.5vw;
  height: 100%;
  background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, #0f59a4 50%, #0f59a4 100%);
  pointer-events: none;
}

#quick-links .direction-arrow {
  position: absolute;
  z-index: 10;
  height: 100%;
  top: 0;
}

#quick-links .direction-arrow img {
  height: 2.5vh;
  position:absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

#quick-links .direction-arrow.right {
  right: 0;
  width: 6vw;
}

#quick-links .direction-arrow.left {
  left: 0;
  width: 6vw;
}

#quick-links .direction-arrow.right img {
  right: 1vw;
}

#quick-links .direction-arrow.left img {
  left: 1vw;
}
