.button-radio {
  display: flex;
  font-size: 13px;
  margin-bottom: 1vh;
}

.button-radio label {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.button-radio input {
  display: none;
}

.button-radio .box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  cursor: pointer;

  margin-right: 1.3vh;
}

.button-radio .innerBox {
  display: none;
  background: #119DA4;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.button-radio input:checked + label .innerBox {
  display: inline-block;
}
