.elevator-toggle {
  border: 1px solid white;
  vertical-align: top; /* prevents this button from shifting print and close buttons */
}

.elevator-toggle img {
  height: 20px;
  opacity: .4;
  margin: 2px 2px 0 2px;
}

.elevator-toggle .selected {
  background: #119DA4;
}

.elevator-toggle .selected img {
  opacity: 1;
}
