.button-checkbox {
  position: absolute;
  opacity: 0;
}

.button-checkbox + label {
  position: relative;
  padding: 0;
}

.button-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  background: white;
  border-radius: .3vw;
}

.button-checkbox:hover + label:before {
  background: #119DA4;
}

.button-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.button-checkbox:checked + label:before {
  background: #119DA4;
}

.button-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.button-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.button-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 6px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

