.room-search-form {
  flex-basis: 40%;
  margin-top: 5vh;
}

.room-search-form .dropdown-container {
  position: relative;
  display: inline-block;
  margin-bottom: 1vh;
  margin-top: 1vh;
  width: 25vw;
  float: right;
}

.room-search-form .room-search-button {
  text-align: right;
}

.room-search-form .room-search-button button {
  position: relative;
  float: right;
  clear: right;
  font-family: Avenir-Heavy, sans-serif;
  font-size: 1.6vh;
  min-height: 2.5vh;
  border-radius: .5vh;
  padding: 1vw 3vw;
  background: #119DA4;
  border: none;
  color: white;
  margin-top: 1vh;
}

.room-search-form .room-search-button button[disabled] {
  color: rgba(0,0,0,.3);
}
