.modal {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;

  overflow-y: scroll;
}

.modal .backdrop {
  position: fixed;
  height: 100%;
  width: 100%;

  background: black;
  opacity: 0.8;
}

.modal .content {
  position: relative;
  width: 70vw;

  margin: 15vh auto 5vh auto;
  padding: 8vw;

  background: #0f59a4;
  border: 1px solid white;
  color: white;
}

.modal .btn--top-left {
  position: absolute;
  top: 2vw;
  left: 2vw;
  font-size: 14px;
}

.modal .btn--top-right {
  position: absolute;
  top: 2vw;
  right: 2vw;
  font-size: 14px;
}
