.path-navigator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.path-navigator .directions {
  text-align: center;
  width: 80%;
}
@media (min-width: 900px) {
  .path-navigator .directions {
    text-align: center;
    width: 70%;
  }
}
@media (min-width: 1000px) {
  .path-navigator .directions {
    text-align: center;
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .path-navigator .directions {
    text-align: center;
    width: 50%;
  }
}

.path-navigator .go-back,
.path-navigator .go-forward {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 10%;
}

.path-navigator .go-back img,
.path-navigator .go-forward img {
  height: 2.5vh;
}
