.loading-layover {
  position: absolute;
  z-index: 9998;
  height: 100%;
  width: 100%;

  font-family: Avenir-Heavy, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #0f59a4;
  padding-bottom: 10vh;
}

.loading-layover .infonet-logo {
  margin-bottom: 2vh;
}

.loading-layover .infonet-logo img {
  width: 6vw;
}

.loader {
  height: .5vh;
  width: 25vw;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: 0;
  width: 3vw;
  height: 1vh;
  background-color: #119DA4;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}
