.welcome-screen {
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 100%;

  color: white;
  font-size: 4.6vh;
  font-family: Avenir-Heavy, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #0f59a4;
  opacity: 0.8;
}
