#header-container {
  display: flex;
  align-items: center;

  height: 100%;

  background: #0f59a4;
  color: white;

  position: relative; /* For box shadow */
  z-index: 1; /* For box shadow */
  box-shadow: 0 -5px 50px black;
}

#header-container .title {
  margin-right: auto;
  padding-left: 3vw;
  font-size: 20px;
}


#header-container .whsLogo {
  height: 4.5vh;
  padding-right: 3vw;
}
#header-container .dodLogo {
  height: 4.5vh;
  padding-right: 2vw;
}
