#print-page {
  display: none;
}

@media print {
  /* Prevent more that one page being printed */
  html, body {
    overflow: hidden;
  }

  [data-reactroot] > * {
    display: none;
  }

  #print-page {
    display: inherit;
  }
  #print-page li {
    list-style-type: decimal;
  }

}
