.starting-point-selector p {
  font-size: 14px;
  margin-bottom: 3vh;
  line-height: 2.3vh;
}

.starting-point-selector .title {
  font-size: 3vh;
  font-family: Avenir-Heavy, sans-serif;
  margin-bottom: 4vh;
}

.starting-point-selector .save-checkbox {
  margin-bottom: 2.5vh;
  width: 100%;
  margin-right: 5vw;
  font-size: 12px;
}
