.starting-point-room-search-form {
  flex-basis: 40%;
}

.starting-point-room-search-form .dropdown-container {
  position: relative;
  display: inline-block;
  margin-bottom: 2.5vh;
  width: 100%;
  margin-right: 5vw;
}

.starting-point-room-search-form .room-search-button button {
  position: relative;
  float: right;
  font-size: 1.6vh;
  font-family: Avenir-Heavy, sans-serif;
  min-height: 2.5vh;
  border-radius: .5vh;
  padding: 1.4vh 2.3vw;
  background: #119DA4;
  border: none;
  color: white;
}

.starting-point-room-search-form .room-search-button button[disabled] {
  color: rgba(0,0,0,.3);
}


