.starting-point-parking-search {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  height: 100%;
}

.starting-point-parking-search .starting-point-parking-search-info {
  flex-basis: 0;
  flex-grow: 1;
  margin-right: 10vh;
  overflow: hidden;
  height: 100%;
  font-family: Avenir, sans-serif;
}

.starting-point-parking-search .save-selector {
  margin-bottom: 2vh;
}

.starting-point-parking-search .begin-button {
  width: 100%;
  text-align: right;
}

.starting-point-parking-search .begin-button button {
  position: relative;
  float: right;
  font-family: Avenir, sans-serif;
  font-weight: 600;
  min-height: 2.5vh;
  border-radius: .5vh;
  padding: 1.4vh 2.3vw;
  background: #119DA4;
  border: none;
  color: white;
}

.starting-point-parking-search .begin-button button[disabled] {
  color: rgba(0,0,0,.3);
}
