@font-face {
  font-family: "Avenir";
  src: url("assets/fonts/avenir-book/Avenir-Book.eot"); /* IE9 Compatibility Modes */
  src: url("assets/fonts/avenir-book/Avenir-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE9 */
  url("assets/fonts/avenir-book/Avenir-Book.woff2"), /* Modern Browsers */
  url("assets/fonts/avenir-book/Avenir-Book.woff"), /* Modern Browsers */
  url("assets/fonts/avenir-book/Avenir-Book.ttf") format('truetype');
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("assets/fonts/avenir-heavy/Avenir-Heavy.eot"); /* IE9 Compatibility Modes */
  src: url("assets/fonts/avenir-heavy/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE9 */
  url("assets/fonts/avenir-heavy/Avenir-Heavy.woff2"), /* Modern Browsers */
  url("assets/fonts/avenir-heavy/Avenir-Heavy.woff"), /* Modern Browsers */
  url("assets/fonts/avenir-heavy/Avenir-Heavy.ttf") format('truetype');
}

* {
  box-sizing: border-box;
}

html, body, #root, [data-reactroot] {
  height: 100%;
}

body {
  font-family: Avenir, sans-serif;
  font-weight: 100;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  outline: none;
  cursor: pointer;
}

