#map-container {
  position: relative;
  height: 100%;
}

.floor-selector {
  position: absolute;
  bottom: 0;
  left: 0;
}

.JMap-inlayLabel {
  display: none; /* Don't show labels on units (polygons) */
}

.JMap-youarehere {
  z-index: 1;
}
.JMap-Active-Mover {
  z-index: 2;
}
.JMap-Destination {
  z-index: 3;
}

.JMap-Amenity {
  padding: 0;
}
.JMap-landmark img {
  transform: translate3D(-50%, -50%, 0);
  background: lightgray;
  border: 1px solid black;
  border-radius: 50%;
}
.JMap-youarehere img,
.JMap-Destination img {
  background: none;
  border: none;
  border-radius: inherit;
}

.JMap-youarehere img {
  animation: youarehere_icon_pulse_animation 1500ms infinite;
  transform-origin: 50% 100%;
}

.JMap-Destination img {
  animation: destination_icon_pulse_animation 1500ms infinite;
  transform-origin: 50% 100%;
}

@keyframes youarehere_icon_pulse_animation {
  0%   { transform: scale(1)   }
  50%  { transform: scale(1.1) }
  100% { transform: scale(1)   }
}
@keyframes destination_icon_pulse_animation {
  0%   { transform: scale(1)   translate3D(0, -50%, 0); } /* Jibestream 3.x is dumb. mapStyles.iconStyles.destination.offset doesn't work */
  50%  { transform: scale(1.1) translate3D(0, -50%, 0); }
  100% { transform: scale(1)   translate3D(0, -50%, 0); }
}
@keyframes active_mover_icon_pulse_animation {
  0%   { transform: scale(1.2) translate3D(-50%, -50%, 0); }
  50%  { transform: scale(1.3) translate3D(-50%, -50%, 0); }
  100% { transform: scale(1.2) translate3D(-50%, -50%, 0); }
}

.step-icon {
  height: 30px;
  width: 30px;
  background: white;
  color: #E04151;
  border-radius: 50%;
  text-align: center;
  border: solid 1px #E04151;
  line-height: 30px;
}
