#nav-container {
  position: relative;

  height: 100%;

  background: #0f59a4;
  color: white;

  box-shadow: 0 5px 50px black;
}

#nav-container .infonet-logo {
  height: 4vh;
  bottom: 0;
  right: 0;
  position: absolute;
  background: #0f59a4;
}

#nav-container .infonet-logo img {
  height: 2vh;
  position: absolute;
  bottom: 1vh;
  right: 1vh;
  padding-top: 0;
}

#nav-container .nav--top-right-buttons {
  position: absolute;
  top: 1.2vh;
  right: 3vh;
}

#nav-container .nav--top-right-buttons div {
  height: 100%;
  display: inline-block;
}

#nav-container .nav--top-right-buttons .fa-times-thin {
  font-size: 3vh;
  height: 100%;
}

#nav-container .nav--top-right-buttons .fa-print {
  font-size: 2vh;
  height: 100%;
}

#nav-container .nav--top-right-buttons > * {
  margin-left: 2vh;
}

#nav-container .fa.fa-times-thin:before {
  content: '\00d7';
}
