.room-search {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  height: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}

.room-search .room-search-info {
  flex-basis: 0;
  flex-grow: 1;
  overflow: hidden;
  margin: 5vh 7vw 0 0;
  font-family: Avenir, sans-serif;
}

.room-search .room-search-info .title {
  font-size: 2.3vh;
  margin-bottom: 1.3vh;
  font-family: Avenir-Heavy, sans-serif;
}

.room-search .room-search-info p {
  font-size: 1.1vh;
  line-height: 1.9vh;
  margin-bottom: 3vh;
}

.room-search .room-search-info .room-image {
  text-align: center;
}

.room-search .room-search-info .room-image img{
  height: 9vh;
  text-align: center;
}
